.about_container {
  margin: auto;
  margin-top: 80px;
  padding-top: 80px;
  background: #252729;
  padding-left: 100px;
  padding-right: 100px;
  display: flex;
  justify-content: space-between;
  width: 100vmax;
  padding-bottom: 70px;
}

/* left section */
.about_left {
  width: 60%;
  display: flex;
  flex-direction: column;
}

.about_card {
  padding: 10px;
  border-radius: 5px;
  width: 90%;
  height: 250px;
  background-color: #2c2f32;
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 15px;
  /* cursor: pointer; */
}

.about_card:hover {
  box-shadow: 3px 3px 4px -2px #101110;
}

.about_skills {
  color: #5465d4;
  margin-top: 6px;
  margin-bottom: 20px;
  font-size: 1.3rem;
}
.about_tools {
  font-size: 1.3rem;
  margin-top: 6px;
  margin-bottom: 10px;
}

.about_text {
  color: grey;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.5;
}

/* right section */
.about_about {
  font-weight: 300;
  font-size: 1.3rem;
  padding-bottom: 40px;
  background-color: #252729;
  color: grey;
}

.about_interest {
  font-size: 1.5rem;
  margin-top: 20px;
  margin-bottom: 20px;
}

.about_right {
  width: 40%;
}

.about_right span {
  padding: 6px;
  color: #61f4ad;
}

.about_right h1 {
  font-weight: 400;
  font-size: 3rem;
}

.about_longText {
  width: 90%;
  font-size: 1.3rem;
  color: grey;
  line-height: 1.5;
  font-weight: 100;
}

@media (max-width: 1024px) {
  .about_container {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .about_left {
    order: 2;
    width: 80%;
    margin: auto;
  }

  .about_right {
    margin: auto;
    width: 80%;
    margin-bottom: 40px;
  }
}

@media (max-width: 800px) {
  .about_container {
    padding-left: 10px;
    padding-right: 10px;
  }

  .about_right h1 {
    font-size: 25px;
  }

  .about_right p {
    font-size: 16px;
  }

  .about_card {
    width: 100%;
  }
}

@media (max-width: 414px) {
  .about_container {
    margin-top: 20px;
    padding-left: 5px;
    padding-right: 5px;
  }

  .about_card {
    width: 100%;
  }
  .about_longText {
    width: 100%;
  }
  .about_text {
    font-size: 10px;
    line-height: 1rem;
  }
  .about_tools {
    font-size: 12px;
  }
}

@media (max-width: 320px) {
  .about_text {
    font-size: 10px;
    line-height: 0.8rem;
  }
}
