.form_container {
  margin-top: 60px;
  padding-left: 100px;
  padding-right: 100px;
  width: 100vmax;
  height: 400px;
  display: flex;
  margin-bottom: 60px;
}

.form_left {
  width: 50%;
}

.form_left h1 {
  margin-bottom: 20px;
  color: #61f4ad;
}

.form_left h2 {
  margin-bottom: 20px;
  font-weight: 300;
  color: grey;
}

.form_name_email {
  width: 90%;
  display: flex;
}

.form_name,
.form_email {
  width: 50%;
  height: 40px;
  background-color: #222527;
  border: 1px solid #222527;
  outline: none;
  color: white;
  padding: 10px;
  margin-right: 5px;
}

.form_subjectDIv {
  width: 90%;
}

.form_subject {
  margin-top: 10px;
  width: 99%;
  height: 40px;
  background-color: #222527;
  border: 1px solid #222527;
  outline: none;
  color: white;
  padding: 10px;
}

.form_textAreaDIv {
  width: 90%;
}
.form_textArea {
  margin-top: 10px;
  width: 99%;
  height: 130px;
  background-color: #222527;
  border: 1px solid #222527;
  outline: none;
  color: white;
  padding: 10px;
  resize: none;
  font-family: "Roboto", sans-serif;
}

.form_btn {
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid #61f4ad;
  background-color: #222527;
  color: #61f4ad;
  margin-top: 10px;
  width: 40%;
  height: 40px;
  box-shadow: inset 0 0 0 0 #61f4ad;
  transition: ease-in-out 0.3s;
}

.form_btn:hover {
  box-shadow: inset 200px 0 0 0 #61f4ad;
  color: #222527;
}

/* right Testimonials section */

.form_right {
  width: 50%;
  margin: 0 auto;
}

.form_right h1 {
  margin-bottom: 20px;
}

.form_right h2 {
  margin-bottom: 20px;
  font-weight: 300;
  color: grey;
}

.form_testim {
  margin: auto;
  width: 100%;
  height: 290px;
  display: flex;
  justify-content: space-between;
  padding-top: 30%;
  background-color: #222527;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 4px;
  user-select: none;
}

.testim_left,
.testim_right {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.form_test_content {
  width: 80%;
  height: 200px;
  font-size: 12px;
  margin: -100px auto;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.test_photo img {
  width: 150px;
  border-radius: 50%;
  margin-right: 60px;
  user-select: none;
}

.test_info_blog {
  width: 50%;
}

.test_comment {
  font-size: 10px;
  font-weight: 300;
  height: 40px;
}

.test_name {
  width: 120%;
  display: flex;
  margin-top: 100px;
  font-size: 20px;
  color: #61f4ad;
  margin-bottom: 20px;
}
